<table class="table">
  <tr>
    <th>repository</th>
    <th>collection</th>
    <th />
  </tr>
  <% @collections.each do |col| %>
    <tr>
      <td><%= col.partner_code %></td>
      <td><%= link_to (col.collection_code + " " +  col.title), col %></td>
      <td><%= link_to 'Edit', edit_collection_path(col) %></td>
    <tr>
  <% end %>
</table>
