<h4><%= MLOG_VOCAB["partner_codes"][@mlog_entries[0].partner_code] %></h4>
<h5><%= MLOG_VOCAB["collection_codes"][@mlog_entries[0].collection_code].gsub(/ :: /, ": ") + ", accession: " + @mlog_entries[0].accession_num %></h5>
<br />
<b>media objects</b>
<br />

<%= render 'btable' %>
