<h4><%= MLOG_VOCAB["partner_codes"][@mlog_entries[0].partner_code] %></h2>
<h3><%= MLOG_VOCAB["collection_codes"][@mlog_entries[0].collection_code] %></h1>

<b>accessions<b>: 
<% @accessions.each do |acc| %>
	<i><%= link_to acc, ("/accession?accession=" + acc + "&collection=" + @mlog_entries[0].collection_code) %></i>
<% end %>
<br/><br/>

<b>media objects</b>
<%= render 'btable' %>
