<br />

<%= render 'summary' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Inventory</h3>
  </div>
  <div class="panel-body">
    <%= render :partial =>'shared/table' %>
    <%= link_to 'Add New', new_mlog_entry_path(:collection_id => @collection.id, :accession_id => @accession.id), class: "btn btn-primary" %>
    <%= link_to 'Slew New', slew_accession_path(:id => @accession.id), class: "btn btn-danger" %>
  </div>
</div>
